.sim_yoko {
  display      : flex;
  max-width    : 950px;
  margin-top   : 1vw;
  margin-bottom: 2vw;
  margin-left  : auto;
  margin-right : auto;
  text-align   : center;
  font-weight  : bold;
}

@media screen and (min-width: 1520px) {
  .sim_yoko {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1520px) {
  .sim_yoko {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 1024px) {
  .sim_yoko {
    font-size: 2vw;
  }
}

@media screen and (min-width: 1200px) {
  .sim_yoko figure {
    margin: 0 auto;
    width: 140px;
  }
}

@media screen and (max-width: 1200px) {
  .sim_yoko figure {
    margin: 0 auto;
    width: 30%;
  }
}




